doctype html
html.
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="http://i.imgur.com/iZ52mIl.png">
    <link rel="apple-itouch-icon" href="http://i.imgur.com/iZ52mIl.png"> 
    <title>Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../javascripts/auth.js"></script>



  </head>
  <body>
    <h1> Identification </h1>
      <label for="exampleInputEmail1">Username</label>
      <input id = 'user' type="text" name="username" placeholder="username" class="form-control"/>
      <label for="exampleInputEmail1">Password</label>
      <input id='pass' type="password" name="password" placeholder="********" class="form-control"/>
      <input type="button" class="btn btn-success" value="Connection" onclick="auth()"/>
  </body>
