doctype html
html.
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
    <meta name="author" content="Carlos Alvarez - Alvarez.is - blacktie.co">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Allergen</title>

    <!-- Bootstrap core CSS -->
    <link href="../temp_cover/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../temp_cover/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../temp_cover/css/icomoon.css">
    <link href="../temp_cover/css/animate-custom.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="../temp_cover/js/jquery.min.js"></script>
  <script type="text/javascript" src="../temp_cover/js/modernizr.custom.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
    <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#home" class="smoothScroll">Acceuil</a></li>
      <li> <a href="#about" class="smoothScroll"> A propos</a></li>
      <li> <a href="#services" class="smoothScroll"> Services</a></li>
      <li> <a href="#team" class="smoothScroll"> Equipe</a></li>
      <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
      <li> <a href="/users/auth" class="smoothScroll"> Mon Compte</a></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>

  
  
    <!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
      <header class="clearfix">
          <h1><span class="icon icon-shield"></span></h1>
            <p>Projet Allergen</p>
            <p>Améliorer votre santé par la nutrition</p>
        </header>     
      </div><!-- /headerwrap -->
    
    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
      <br>
        <h1 class="centered">LE PROJET ALLERGEN</h1>
        <hr>
        
        <div class="col-lg-6">
          <p>Beaucoup de personnes souffrent de problèmes d’intolérances alimentaires et de pathologies telles que le SCI/colopathie fonctionnelle. Chez ces personnes la consommation de certains aliments provoque l’apparition de symptômes qui minent la qualité de vie. Certains aliments sont connus pour être particulièrement mal absorbés par les personnes souffrant de SCI : les <a href='https://fr.wikipedia.org/wiki/FODMAP'>FODMAP</a>. Cependant toutes les personnes ne sont pas égales devant les FODMAPs et il est fréquent que certaines personnes souffrant de SCI tolèrent parfaitement une partie de ces aliments. Le régime sans FODMAP étant particulèrement restrictif il est dans l’intérêt de chaque malade de determiner le plus précisement possible le champ des aliments qu’il tolère et qu’il ne tolère pas afin de pouvoir vivre la vie la plus normale possible. Déterminer ce périmètre passe souvent par le suivi d’un régime dit d’ « élimination » pendant lequel les personnes élimine une partie des FODMAP pendant une période de quelques semaines afin de déterminer si l’élimination conduit à une amélioration de l’état de santé général.</p>
        </div><!-- col-lg-6 -->
        
        <div class="col-lg-6">
          <p>Le projet Allergène est un projet qui vise à aider les personnes souffrantes de SCI en leur permettant de prendre note de ce qu’ils mangent et des symptômes qu’ils présentent afin de les aider à déterminer le périmètre de ce qu’ils peuvent manger tout en restant en bonne santé et en améliorant
          ainsi leur qualité de vie au quotidien.</p>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->
    
    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <h1>AMELIOREZ VOTRE ETAT DE SANTE</h1>
        <hr>
        <p>Avec Allergen vous apprendrez à mieux connaitre votre corps et à l'alimenter de manière à être en meilleure forme.</p>
      </div><!-- container -->
    </section><!-- section -->
    
    
    <!-- ==== SERVICES ==== -->
    <div class="container" id="services" name="services">
      <br>
      <br>
      <div class="row">
        <h2 class="centered">NOTRE SOLUTION</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <p>Nous proposons à nos utilisateurs de garder un journal de ce qu'ils mangent et de leurs symptômes digestifs dans le but de déceler quelle(s) catégorie(s) d'allergène(s) est/sont les plus problèmatiques pour chacun.
          </p>
          <p>Notre solution permet de suivre un régime d'éviction pour chaque catégorie d'allergène et fournit des conseils sur les aliments alternatifs.</p>
        </div><!-- col-lg -->
      </div><!-- row -->
      
      <div class="row">
        <h2 class="centered">ANALYSE DE VOS DONNEES</h2>
        <hr>
        <br>
      </div>
      <div class="row">
        <center><img src="../temp_cover/img/iphone.png">
        </center>
      </div><!-- row -->
    </div><!-- container -->
      

    <!-- ==== SECTION DIVIDER2 -->
    <section class="section-divider textdivider divider2">
      <div class="container">
        <h1>RETROUVEZ LE SOURIRE</h1>
        <hr>
        <p>Notre outil est destiné à rendre le sourire aux personnes qui souffrent de problèmes digestfs et qui ont perdu la joie de vivre.</p>
      </div><!-- container -->
    </section><!-- section -->

    <!-- ==== TEAM MEMBERS ==== -->
    <div class="container" id="team" name="team">
    <br>
      <div class="row white centered">
        <h1 class="centered">NOTRE EQUIPE</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-6 centered">
          <img class="img img-circle" src="../temp_cover/img/team/team01.PNG" height="120px" width="120px" alt="">
          <br>
          <h4><b>MDO</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <p>Ingénieure en mathématiques appliquées et tech lover.</p>
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-6 centered">
          <img class="img img-circle" src="../temp_cover/img/team/team02.jpg" height="120px" width="120px" alt="">
          <br>
          <h4><b>LPO</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-facebook"></a>
          <a href="#" class="icon icon-flickr"></a>
          <p>Ingénieur en informatique et paste-eater va peut-être bientôt nous rejoindre !.</p>
        </div><!-- col-lg-3 -->
        
      </div><!-- row -->
    </div><!-- container -->

  
    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>CONCEPTION FRANCAISE</h1>
        <hr>
        <p>1 rue Joliot-Curie, 91190</p>
        <p>+33 6 12 00 00 00</p>
        <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
      </div><!-- container -->
    </section><!-- section -->
    
    <div class="container" id="contact" name="contact">
      <div class="row">
      <br>
        <h1 class="centered">MERCI DE VOTRE VISITE</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-6">
          <h3>Nous Contacter</h3>
          <p><span class="icon icon-home"></span> Boulevard de Bonne-Nouvelle, PARIS<br/>
            <span class="icon icon-phone"></span> +33 0000 0000 <br/>
            <span class="icon icon-mobile"></span> +33 0000 0000 <br/>
            <span class="icon icon-envelop"></span> <a href="#"> douch.meh@gmail.com</a> <br/>
          </p>
        </div><!-- col -->
        
        <div class="col-lg-6">
          <h3>Aidez-nous !</h3>
          <p>Il n'y aucune publicité sur le site et nous avons consacré beaucoup de temps à sa conception. Votre générosité nous permettra d'investir plus de temps sur le projet.</p>
        </div><!-- col -->

      </div><!-- row -->
    
    </div><!-- container -->

    <div id="footerwrap">
      <div class="container">
        <h4>Created by <em>TenShowersOfMine</em> - 2017</h4>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    

  <script type="text/javascript" src="../temp_cover/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../temp_cover/js/retina.js"></script>
  <script type="text/javascript" src="../temp_cover/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../temp_cover/js/smoothscroll.js"></script>
  <script type="text/javascript" src="../temp_cover/js/jquery-func.js"></script>
  </body>
</html>
